<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:constretto="http://constretto.org/schema/constretto"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://constretto.org/schema/constretto http://constretto.org/schema/constretto/constretto-1.2.xsd">


    <constretto:configuration annotation-config="true" property-placeholder="true">
        <constretto:stores>
            <constretto:properties-store>
                <constretto:resource location="classpath:netty-websocket-server.properties"/>
                <constretto:resource location="file:./netty-websocket-server_override.properties"/>
            </constretto:properties-store>
        </constretto:stores>
    </constretto:configuration>


    <context:component-scan base-package="com.bardlind.ws">
        <!--<context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/>-->
    </context:component-scan>
    </beans>